
body {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}
h1{
   font-family: 'Bebas Neue', cursive;
   font-size: 2.5rem;
   font-weight: 300;
}
h2{
   font-family: 'Bebas Neue', cursive;
   font-size: 3rem;
}
.content{
   margin-top: 12vh;
}
.main-tittle{
   text-align: center;
   font-size: 3rem;
}