nav{
    color: white;
    display: flex;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--pruple-i);
    height: 10vh;
    padding: 1vh;
}

nav h1{
    margin-top: auto;
    margin-bottom: auto;
    /* align-self: flex-start; */
    text-align:justify;
}

.nav-icon{
width: 50px;
height: auto;
cursor: grab;
}


